@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Inter&family=Poppins&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(
        90deg,
        rgba(17, 153, 142, 1) 35%,
        rgba(56, 239, 125, 1) 100%
    );
    font-family: "Abhaya Libre", serif;
}

.logo {
    width: 130px;
}

.square-button {
    display: block;
    width: 15rem;
    height: 6rem;
    background-color: #d9d9d9;
    color: black;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
}

.umum:hover {
    background-color: #FFBD00;
    color: white;
    animation: glowing 1.5s infinite;
}
.prioritas:hover {
    background-color: #32A071;
    color: white;
    animation: glowing 1.5s infinite;
}

.ticket {
    font-size: 3rem;
}

.square-button .title-umum {
    background-color: #5ED25C
}
.square-button .title-prioritas {
    background-color: #EC9B3B
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 10px #f1eb90;
    }
    50% {
        box-shadow: 0 0 10px #f1eb90;
    }
    100% {
        box-shadow: 0 0 10px #f1eb90;
    }
}
